# Required to connect with Youtube API
VITE_GOOGLE_API_KEY=''
VITE_GOOGLE_CLIENT_ID=''

# Optional, used to ensure a consistent extension ID during local development
# This is important because you need to add your extension ID to the Youtube API
# to give users permission to log in with their Google account.
VITE_EXT_PUB_KEY=''
